.hero-name {
  display: inline-block;
}

.hero-title {
  display: inline-block;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 17.5vh;
  padding-bottom: 27vh;
  min-height: 56vh;
  background-color: #664;
}

.hero-intro {
  display: inline-block;
}

.hero-portrait {
  display: inline-block;
}

.hero-portrait-image {
  height: auto;
  width: auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
}

.hero-container h2,
.hero-container h1,
.hero-container h5 {
  color: #cca;
  margin: 0;
  text-shadow: 4px 4px rgb(50, 50, 50, 0.8);
}

@media (min-width: 200px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-container h2 {
    font-size: 32px;
    line-height: 1.2;
  }

  .hero-container h1 {
    font-size: 45px;
    line-height: 1;
  }

  .hero-container h5 {
    font-size: 25px;
    line-height: 2;
  }
  .hero-portrait-image {
    margin-top: 5vh;
    max-height: 75%;
    max-width: 75%;
  }
}

@media (min-width: 769px) {
  .hero-container h2 {
    font-size: 72px;
    line-height: 0.8;
  }

  .hero-container h1 {
    font-size: 98px;
    line-height: 1.2;
  }

  .hero-container h5 {
    font-size: 56px;
    line-height: 1.2;
  }
  .hero-portrait-image {
    max-height: 70%;
    max-width: 70%;
  }
}

@media (min-width: 1025px) {
  .hero-container {
    flex-direction: row;
  }
  .hero-container h2 {
    font-size: 72px;
    line-height: 0.8;
  }

  .hero-container h1 {
    font-size: 98px;
    line-height: 1.2;
  }

  .hero-container h5 {
    font-size: 56px;
    line-height: 1.2;
  }
  .hero-portrait-image {
    max-height: 70%;
    max-width: 70%;
  }
}
